{% extends "components/base_list.html" %}
{% load static%}
{% block search %}
   <form action="" style="max-width: 450px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por nombre" name="q1" value="{{ request.GET.q1 }}">
            <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Escriba parte del nombre y dar click en buscar">
                Buscar
            </button>
        </div>
    </form>           
{% endblock search %}
{% block columns %}
    <tr > 
        <th>ID</th>
        <th>Empleado</th>
        <th>Cédula</th>
        <th>Cargo</th>
        <th>Departamento</th>
        <th>Fecha entrada</th>
        <th>Estado</th>
        <th>Estado</th>
        <!-- <th>aseguradora</th> -->
        <th class="text-danger">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for item in employees %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.identity_card}}</td>
            <td>{{item.position}}</td>
            <td>{{item.department}}</td>
            <td>{{item.date_entry}}</td>
            <td>{{item.state}}</td>
            <td class="text-center ">
            {% if permissions.change_employee %}
                <a class="text-success fs-4" href="{% url 'loans:employee_update' item.id %}" data-bs-toggle="tooltip" data-bs-title="Editar el seguro"><i class="bi bi-pencil-fill"></i></a>
            {% endif %}
            {% if permissions.delete_employee %}
                <a class="text-danger fs-4" href="{% url 'loans:employee_delete' item.id %}" data-bs-toggle="tooltip" data-bs-title="Eliminar el seguro"><i class="bi bi-x-circle-fill"></i></a>
            {% endif %}
            </td>
        </tr>
        {% empty %}
           {% include "components/empty.html" %}
    {% endfor%}  
{% endblock %}





