{% extends "components/base_list.html" %}
{% load static%}
{% block search %}
   <form action="" style="max-width: 450px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por nombre" name="q1" value="{{ request.GET.q1 }}">
            <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Escriba parte del nombre y dar click en buscar">
                Buscar
            </button>
        </div>
    </form>           
{% endblock search %}
{% block columns %}
    <tr > 
        <th>ID</th>
        <th>empleado</th>
        <th>Descripción</th>
        <th>Fecha del préstamo</th>
        <th>Valor</th>
        <th>Cuotas</th>
        <th>Número de cuotas</th>
        <th>Fecha del descuento</th>
        <th>Estado</th>
        <!-- <th>aseguradora</th> -->
        <th class="text-danger">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for item in entries %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.employee}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_prestamo}}</td>
            <td>{{item.value}}</td>
            <td>{{item.cuota}}</td>
            <td>{{item.num_cuotas}}</td>
            <td>{{item.date_descuento}}</td>
            <td>{{item.state}}</td>
            <td class="text-center ">
            {% if permissions.change_entry %}
                <a class="text-success fs-4" href="{% url 'loans:entry_update' item.id %}" data-bs-toggle="tooltip" data-bs-title="Editar el seguro"><i class="bi bi-pencil-fill"></i></a>
            {% endif %}
            {% if permissions.delete_entry %}
                <a class="text-danger fs-4" href="{% url 'loans:entry_delete' item.id %}" data-bs-toggle="tooltip" data-bs-title="Eliminar el seguro"><i class="bi bi-x-circle-fill"></i></a>
            {% endif %}
            </td>
        </tr>
        {% empty %}
           {% include "components/empty.html" %}
    {% endfor%}  
{% endblock %}





